doctype html
html(lang="en")
head
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE-edge")
meta(name="viewport" width="1230" content="width=device-width, initial-scale=1")
title Document
link(rel="shortcut icon" href="" type="image/png")
link(rel="stylesheet", href="bower/normalize-css/normalize.css")
link(rel="stylesheet", href="lib/jquery-ui/jquery-ui.css")
link(rel="stylesheet", href="css/style.css")  
body
  .wrapper
    include  _common/_position.jade 
  script(src="bower/jquery/jquery.js") 
  script(src="lib/jquery-ui/jquery-ui.js")
  script(src="js/main.js")  

  
