aside.settings
  .settings-wrap.settings-wrap_mod.clearfix
    h2.settings__header Положение
    .settings-box.clearfix
      - for (var n = 1; n < 10; n++) 
        .settings-box__min
    .settings-pos
      .settings-pos__X.settings-pos__XY_mod 0
      .settings-pos__Y.settings-pos__XY_mod 0
  .settings__line_wrap     
    .settings__line
  .settings-wrap.settings-wrap_mod
    h2.settings__header Прозрачность
    .settings-slider
        #slider-range-min
  .settings__line_wrap     
    .settings__line
  .settings-wrap.settings-wrap_mod
    .settings-btn.clearfix
      button.settings-btn__left.settings-btn_mod Сброс
      button.settings-btn__right.settings-btn_mod Скачать
    
  
    
     
  
